{% extends "lab_7/layout/base.html" %}

{% block content %}
<section name="friend-list" id="friend-list">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <h2> Fasilkom Tomodachi </h2>
        <div id="friend-list" class="list-group">

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block javascript %}
<script>
var deleteFriend = function(id) {
  $.ajax({
    method: "POST",
    url: "/lab-7/delete-friend/",
    data : {'id' : id},
    dataType : 'json',
    success : function (response) {
      console.log('sukses');
      $('#' + response.id).remove();
      alert("Bye-bye!")
    },
    error : function (error) {
      console.log('gagal');
    }
  });
};

$( document ).ready(function () {
  // {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
  $.ajax({
    method: "GET",
    url: "{% url 'lab-7:get-friend-list' %}", // update
    success: function (response) {
      // #tampilkan list teman ke halaman
      // #hint : gunakan fungsi jquery append()
      console.log("success");
      friend_list = response['results'];
      for(i = 0; i < friend_list.length; i++){
        console.log(friend_list[i].id);
        friend = friend_list[i];
        html = '<a class="list-group-item clearfix" id=' + friend.id + '>' +
        friend.friend_name + ' (' + friend.npm + ')'
        '</a>';
        button = '<span class="pull-right">'+
                 '<span class="btn btn-xs btn-default" onclick=deleteFriend(' + friend.id + ')> Unfriend </span>'+
                 '</span>';
        $("#friend-list").append(html + button)
      }
    },
    error: function(error){
      // #tampilkan pesan error
      console.log("this is an error");
    }
  });
});
</script>
{% endblock %}
